.users-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0px;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
}

.users-list > li {
    padding: 25px;
    background-color: #e0e0e0;
    max-width: 100%;
    margin: 5px 0 0 0;
    position: relative;
    display: flex;
    justify-content: flex-end
}